* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  
  body {
    background-color: #dee5dc;
    justify-content: center;
    align-items: center;
    color: #1d3218;
  }
  
  .pageName {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(83, 114, 93, 0.5),
        rgba(83, 114, 93, 0.5)
      ),
      url(/img/fondoplantas.png);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    color: snow;
    font-size: 60px;
    text-align: center;
  }
  
  #check {
    display: none;
  }
  
  .navbar {
    background: #6c9c5b;
    height: 60px;
    width: 100%;
  }
  
  .navbar .ul {
    display: flex; /* Hace que ul sea un contenedor flex */
    justify-content: space-evenly; /* Espacia los elementos de manera uniforme */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Establece el ancho del ul al 100% del contenedor padre */
    margin: 0 auto;
  }
  
  .navbar .ul li {
    line-height: 60px;
    margin: 0 10px;
  }
  
  .texta {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }
  
  .imgPerfil {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgPerfil:hover {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .imgCarrito {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgCarrito:hover {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (max-width: 858px) {
  
    h1{
      font-size: 40px;
      }
  
    .texta {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    .navbar .ul {
      display: block;
      width: 100%;
      margin: 0;
      justify-content: unset;
      align-items: unset;
    }
  
    .ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #6c9c5b;
      top: 150px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    .navbar .ul li {
      display: block;
      margin: 15px 0;
      line-height: 30px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  /*main*/
  .info-compra{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 10px;
      margin: 40px;
  }
  .producto img{
      width: 260px;
      height: 260px;
  }
  
  .descripcion{
      background-color: white;
      width: 50%;
      height: 260px;
      display: flex; 
      flex-direction: column; /* Alinear el contenido en columna */
      justify-content: center; /* Centrar verticalmente */
    
    }
  
  .descripcion h3, p {
  
    margin: 10px 15px;
  }
  
  .aside-compra{
      margin: 0px 30px;
      width: 40%;
  
  }
  
  .resumen{
      background-color: rgb(255, 255, 255, .65);
      color: #273F21;
      height: 370px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
  }
  .resumen h2{
      align-self: center;
  }
  .boton{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3F5F34;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .boton:hover{
    background-color: #06460F;
  }
  
  /* /footer/ */
  
  footer{
    display: flex;
    margin:30px 0 0 0;
    background-color:  #F6F9F5;
    justify-content: space-between;
  }
  
  .footer-nav{
    margin:  auto 40px;
    color: #273F21;
  }
  
  .nav_f{
    margin-top: 10px;
    list-style: none;
  }
  
  .Footer-nav__item a{
    color: #273F21;
    text-decoration: none;
  }
  
  .Footer-nav__item a:hover{
    color: #649752;
  }
  
  .footer-obj{
    margin-top: auto auto;
    padding: 20px 20px;
    justify-content:center;
  } 
  
  .footer-obj{
    margin: auto auto;
    padding: 20px 20px;
    justify-content:center;
  } 
  
  .footer-obj img{
    width: 150px ;
  } 
  
  .footer-contacto{
    display: flex;
    margin: auto 40px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacto a{
    color: #273F21;
    text-decoration: none;
    text-decoration: none;
  }
  
  .footer-contacto img{
  width: 20px;
  }