 * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }


  button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid rgba(83, 97, 59, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) ;
    color: white;
    background-color: rgb(83, 97, 59);
    cursor: pointer;
}

button:hover{
    background-color: rgb(64, 75, 45);
}

  
  body.no-scroll {
    overflow: hidden;
  }
  
  
  body {
    background-color: #dee5dc;
    justify-content: center;
    align-items: center;
    color: #1d3218;
  }
  
  .pageName {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(83, 114, 93, 0.5),
        rgba(83, 114, 93, 0.5)
      ),
      url(/img/fondoplantas.png);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    color: snow;
    font-size: 60px;
    text-align: center;
  }
  
  #check {
    display: none;
  }
  
  .navbar {
    background: #6c9c5b;
    height: 60px;
    width: 100%;
  }
  
  .navbar .ul {
    display: flex; /* Hace que ul sea un contenedor flex */
    justify-content: space-evenly; /* Espacia los elementos de manera uniforme */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Establece el ancho del ul al 100% del contenedor padre */
    margin: 0 auto;
    z-index: 10;
  }
  
  .navbar .ul li {
    line-height: 60px;
    margin: 0 10px;
  }
  
  .texta {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }
  
  .imgPerfil {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgPerfil:hover {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .imgCarrito {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgCarrito:hover {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (max-width: 858px) {
    h1{
      font-size: 40px;
      }
    .texta {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    .navbar .ul {
      display: block;
      width: 100%;
      margin: 0;
      justify-content: unset;
      align-items: unset;
    }
  
    .ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #6c9c5b;
      top: 150px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    .navbar .ul li {
      display: block;
      margin: 15px 0;
      line-height: 30px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  
/* Hay que revisar bien esta parte del nav */


iframe {
    width: 550px;
    height: 300px;  
    margin-right: 50px;  
}




#Inicio {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
    
    
}
#Inicio .Imagen1{
    background-image:linear-gradient(
        0deg,
        rgba(51, 59, 35, 0.5),
        rgba(51, 59, 35, 0.5)
    )
    ,url(../img/imagen1.png ); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    
}
#Inicio .Imagen1 h3{
    padding: 25px;

}
/* Falta el video*/

/* de aqui en adelante es la otra seccion */

.fondo1{
    background-image:linear-gradient(
        0deg,
        rgba(51, 59, 35, 0.4),
        rgba(51, 59, 35, 0.4)
    )
    ,url(../img/fondo\ plantas\ 1.png);
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    text-align: center;
    margin:10px 0px;
}

.fondo1 h1{
    padding: 20px ;
    
}
#Jardinerito .containerp {
    background-color: #91aa86;
    text-align: center;
    padding: 20px 10px;   
}

#Jardinerito .containerp p{
    margin: 20px 15px;
    color: white;
    font-weight: bold;
}

/* Falta el video*/
#Diseños .containerCirculos{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Diseño{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 40px ;
}

#Diseños .Circulodiseño1{
    width: 160px; /* Ajusta el ancho del círculo según tus necesidades */
    height: 160px;
    background-image:linear-gradient(
        0deg,
        rgba(51, 59, 35, 0.2),
        rgba(51, 59, 35, 0.2)
    )
    , url(../img/imagen1.png);
    background-size: cover;
    justify-content: center;
    border-radius: 50%; /* Hace que el div tenga forma de círculo */
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}
#Diseños .Circulodiseño1 img{
    width: 45%; /* Asegúrate de que la imagen llene todo el círculo */
    height: auto; /* Mantén la proporción de la imagen */
    display: block;
    position: relative; /* Permite posicionar la imagen dentro del círculo */
    top: 50%; /* Coloca la imagen en el centro verticalmente */
    left: 50%; /* Coloca la imagen en el centro horizontalmente */
    transform: translate(-50%, -50%);
}
#Diseños{
    color: #73A163;
}

.descripción{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 250px; /* Ajusta el ancho del círculo según tus necesidades */
    height: 110px;
    border-radius: 70px;
    background-color: rgb(234, 235, 234);
    padding: 12px;
    margin: 12px 0px 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.descripción p{
    display: none;
}

.descripción button{   
    font-size: 1.0 em;
    margin-top: 8px;
}

#coneccion-jardinerito{
    display: flex;
    background-image:linear-gradient(
        0deg,
        rgba(73, 87, 45, 0.4),
        rgba(73, 87, 45, 0.4)
    )
    , url(../img/imagen2.png);
    background-repeat: no-repeat; /* para que llene todo el espacio*/
    background-size: cover;
      
    position: relative;

}

#coneccion-jardinerito .container{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}


#coneccion-jardinerito .containerL h2{
    font-size: 1.2em;
    color: white;
    padding: 30px;
}

video {
    width: 100%;

    
    /*aqui no se como cambiarle el tamaño*/
    /*o bueno si pero al cambiarlo a pantalla hay que cambiar top a 50 */
 
}


.ContainerGrande{
    display: flex;

    
}
.container1{
    
    background-image:  linear-gradient(
        0deg,
        rgba(69, 87, 38, 0.4),
        rgba(69, 87, 38, 0.4)
    )
    ,url(../img/imagen3.png);
    background-repeat: no-repeat; /* para que llene todo el espacio*/
    background-size: cover;
    flex-grow: 1; 
    width:600px;
    height: 2100px;
    display: flex; /* Hace que container1 sea un contenedor flex */
    flex-direction: column; /* Coloca los elementos en columnas */
    align-items: center;
    padding-top: 15px;
    
}
.paso{
 
  display:flex;
  flex-direction:column;
  align-items:center;
  width:800px;
  height: 2100px;

   
}

#Pasos .img-container{
    position:relative;
    background-image:  linear-gradient(
        0deg,
        rgba(83, 97, 59,0.3),
        rgba(83, 97, 59,0.3)
    )
    ,url(../img/fondo\ plantasVer.png);
    background-repeat: no-repeat; /* para que llene todo el espacio*/
    background-size: cover;
    margin-right: 10px;
    width:40px;
    height: 2100px;
}




.circulitosP{
 
    width: 150px; /* Ajusta el ancho del círculo según tus necesidades */
    height: 150px;
    background-color: white;
    background-size: cover;
    border-radius: 50%; /* Hace que el div tenga forma de círculo */
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
     /* Centra horizontalmente */  
    
    text-align: center;

    
}


.circulitosP img{
    width: 80%; /* Asegúrate de que la imagen llene todo el círculo */
    height: auto; /* Mantén la proporción de la imagen */
    display: block;
    position: relative; /* Permite posicionar la imagen dentro del círculo */
    top: 50%; /* Coloca la imagen en el centro verticalmente */
    left: 50%; /* Coloca la imagen en el centro horizontalmente */
    transform: translate(-50%, -50%);
    
}

.descripcionP{
    
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 20px 20px;
    margin-bottom: 10px;
   
          
}
 
.descripcionP h3{
     padding: 12px 20px; 
}

.footer{
    margin-top: 10px;
    height: 15%px;
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
   
}

/*.container5{
    flex: 1;
    padding: 0px, 10px;
}*/  

.Footer-links h4{
    color: #2e352a;
    padding: 10px;
}

.Footer-links ul a{
    list-style: none;
    color: #3a4236;
    text-decoration: none;
    
    
}

.social-link{
    margin: 5px;
    color: #3a4236;
}

.social-link i{
    
    color: #3a4236;
    margin: 10px 10px 5px;
    font-size: 20px;
}

.Footer-logo img{
    padding-top: 10px;
    max-height: 50%; /* Establecer una altura máxima del 100% del encabezado */
    max-width: 50%;
}

/* Estilos para el menú desplegable en pantallas pequeñas */
@media (max-width: 768px) {

    nav ul {
        display: none;
        flex-direction: column;
    }

    nav.active ul {
        display: flex;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
    /*Aqui hay que mirar como hacer para que los iconos
     se metan ahi mismo en el menu*/

    }

    @media (min-width: 768px){

        

        #Inicio {
       
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: center;
           padding: 30px;
           
           

        }
        #Inicio .Imagen1{
            margin-left: 10px;
            
            font-size: 26px;
            text-align: center;
            height: 100%;
            width: 100%;
            padding: 20px 0px;
             
        }

        #Jardinerito .container {
            display: flex;
            flex-direction: row;
            background-color: #91aa86;
            align-items: center;
            padding: 20px 10px;
         
        }
        
        #Jardinerito .containerp p{
            margin: 20px 15px;
            color: white;
            font-weight: bold;
            font-size: 25px;
                   
        }
    
        #Diseños .containerCirculos{
            display: flex;
            flex-direction: row;
            align-items: center;
        
        }
        .Diseño{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align:center;
            flex-direction: column;
            padding: 10px;
            margin-bottom: 40px ;
        }
     
        #Diseños .containerCirculo{
            margin: 10px 0px;
        }
        
        #Diseños .Circulodiseño1{
            width: 200px; /* Ajusta el ancho del círculo según tus necesidades */
            height: 200px;
        }
    
        .descripción{

            width: 450px; /* Ajusta el ancho del círculo según tus necesidades */
            height: 200px;
            display: flex;
            flex-direction: column;        
   
            align-items: center;
        }
        
        .descripción p{
            display: block;
            color: #3a4236;
            margin: 10px 5px;
        }
        

        


        .ContainerGrande{
            display: flex;
            align-items: center;/* Centra verticalmente los elementos */
            justify-content: center;
            text-align: center;
            
        }
        
        .paso{
 
            display:flex;
            flex-direction:row;
            align-items:center;
             
          }
          
          #Pasos .img-container{
              position:relative;
              background-image:  linear-gradient(
                  0deg,
                  rgba(83, 97, 59,0.3),
                  rgba(83, 97, 59,0.3)
              )
              ,url(../img/fondo\ plantasVer.png);
              background-repeat: no-repeat; /* para que llene todo el espacio*/
              background-size: cover;
              margin-right: 10px;
              width:40px;
              height: 2100px;
          }
          
          .container1{

            width:200px;
              height: 2100px;
              background-image:  linear-gradient(
                  0deg,
                  rgba(69, 87, 38, 0.4),
                  rgba(69, 87, 38, 0.4)
              )
              ,url(../img/imagen3.png);
              background-repeat: no-repeat; /* para que llene todo el espacio*/
              background-size: cover;
              flex-grow: 1; 
             
              display: flex; /* Hace que container1 sea un contenedor flex */
              flex-direction: column; /* Coloca los elementos en columnas */
              align-items: center;
              padding-top: 15px;
              
          }
          
          
          .circulitosP{
           
              width: 200px; /* Ajusta el ancho del círculo según tus necesidades */
              height: 200px;
              
          }
          
          .descripcionP{
            width: 500px; /* Ajusta el ancho del círculo según tus necesidades */


          }
           
          .descripcionP h3{
               padding: 12px 20px; 
               font-size: 30px;
          }

          .descripcionP p{
            font-size: 20px;
       }



        
        
    }
