* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  
  body {
    background-color: #dee5dc;
    justify-content: center;
    align-items: center;
    color: #1d3218;
  }
  
  .pageName {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(83, 114, 93, 0.5),
        rgba(83, 114, 93, 0.5)
      ),
      url(/img/fondoplantas.png);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    color: snow;
    font-size: 60px;
    text-align: center;
  }
  
  #check {
    display: none;
  }
  
  .navbar {
    background: #6c9c5b;
    height: 60px;
    width: 100%;
  }
  
  .navbar .ul {
    display: flex; /* Hace que ul sea un contenedor flex */
    justify-content: space-evenly; /* Espacia los elementos de manera uniforme */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Establece el ancho del ul al 100% del contenedor padre */
    margin: 0 auto;
  }
  
  .navbar .ul li {
    line-height: 60px;
    margin: 0 10px;
  }
  
  .texta {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }
  
  .imgPerfil {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgPerfil:hover {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .imgCarrito {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgCarrito:hover {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (max-width: 858px) {
  
    h1{
      font-size: 40px;
      }
  
    .texta {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    .navbar .ul {
      display: block;
      width: 100%;
      margin: 0;
      justify-content: unset;
      align-items: unset;
    }
  
    .ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #6c9c5b;
      top: 150px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    .navbar .ul li {
      display: block;
      margin: 15px 0;
      line-height: 30px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }

/*Main*/

.titulo_pro {
    margin: 15px auto;
    width:80%;
    background-color: white;
    color: #273f21;
    font-family: "Poppins", sans-serif;
    text-align: left;
    display: flex;   
    align-items: center; 
    height: 50px;
}

.titulo_pro h2 {
    margin-left: 20px;
}

.descrpcion-pro {
    height: 320px;
    display: flex;
    margin: auto 110px;
    justify-content: space-evenly;
}

.Producto {
    background-color: white;
    display: flex;
    justify-content: center;
}

.descripcion {
    margin: 0px 10px;
    background-color: white;
    color: #273f21;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

.precio {
    margin: 10px auto;
    font-weight: bold;
}

.botonañadir {
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: #3f5f34;
    color: snow;
    border: none;
    cursor: pointer;
}

.botonañadir:hover {
    background-color: #06460f;
}

.botonvolver {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin: 20px 8em;
    left: 1050px;
    background-color: #3f5f34;
    color: snow;
    border: none;
    cursor: pointer;
}

.botonvolver:hover {
    background-color: #06460f;
}


 /* /footer/ */

 footer {
    display: flex;
    margin: 20px 0 0 0;
    background-color: #f6f9f5;
    justify-content: space-between;
  }
  
  .footer-nav {
    margin: auto 40px;
    color: #273f21;
  }
  
  .nav_f {
    margin-top: 10px;
    list-style: none;
  }
  
  .Footer-nav__item a {
    color: #273f21;
    text-decoration: none;
  }
  
  .Footer-nav__item a:hover {
    color: #649752;
  }
  
  .footer-obj {
    margin-top: auto auto;
    padding: 20px 20px;
    justify-content: center;
  }
  
  .footer-obj {
    margin: auto auto;
    padding: 20px 20px;
    justify-content: center;
  }
  
  .footer-obj img {
    width: 150px;
  }
  
  .footer-contacto {
    display: flex;
    margin: auto 40px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacto a {
    color: #273f21;
    text-decoration: none;
    text-decoration: none;
  }
  
  .footer-contacto img {
    width: 20px;
  }
  
  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  
  /* Footer */
  @media (max-width: 858px) {
    footer {
      align-items: center;
    }
  
  
    .footer-nav,
    .footer-obj,
    .footer-contacto {
      margin: 15px 10px;
    }
  
    .footer-nav h4,
    .footer-obj h4 {
      font-size: 15px;
    }
  
    .nav_f li {
      margin: 5px 0;
    }
  
    .footer-contacto img
     {
      width: 20px;
    }
  
  .footer-obj img{
    width: 100px;
  }
  
    .footer-contacto a,
    .Footer-nav__item a {
      font-size: 14px;
    }
  }