* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  
  body {
    background-color: #dee5dc;
    justify-content: center;
    align-items: center;
    color: #1d3218;
  }
  
  .pageName {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(83, 114, 93, 0.5),
        rgba(83, 114, 93, 0.5)
      ),
      url(/img/fondoplantas.png);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    color: snow;
    font-size: 60px;
    text-align: center;
  }
  
  #check {
    display: none;
  }
  
  .navbar {
    background: #6c9c5b;
    height: 60px;
    width: 100%;
  }
  
  .navbar .ul {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    width: 100%; 
    margin: 0 auto;
  }
  
  .navbar .ul li {
    line-height: 60px;
    margin: 0 10px;
  }
  
  .texta {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }
  
  .imgPerfil {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgPerfil:hover {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .imgCarrito {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgCarrito:hover {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (max-width: 858px) {

    h1{
      font-size: 40px;
      }
  
    .texta {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    .navbar .ul {
      display: block;
      width: 100%;
      margin: 0;
      justify-content: unset;
      align-items: unset;
    }
  
    .ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #6c9c5b;
      top: 150px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    .navbar .ul li {
      display: block;
      margin: 15px 0;
      line-height: 30px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  p {
    font-weight: bold;
    margin: 30px 0em;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .planta {
    background-color: #e5e5e5;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    flex: 1 0 calc(33.3333% - 20px); /* Se resta 20px por el margen de la planta */
      margin: 10px;
    padding: 70px 10px;
    color: snow;
    font-weight: bolder;
  }

  .planta a{
    color: snow;
  }
  
  .container #p1 {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0.432) 0%
      ),
      url(../img/carnivora.png);
    background-size: cover;
  }
  
  #p1:hover {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0) 0%
      ),
      url(../img/carnivora.png);
  }
  
  .container #p2 {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0.432) 0%
      ),
      url(../img/orquidea.jpg);
    background-size: cover;
  }
  
  #p2:hover {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0) 0%
      ),
      url(../img/orquidea.jpg);
  }
  
  .container #p3 {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0.432) 0%
      ),
      url(../img/platanera.jpg);
    background-size: cover;
  }
  
  #p3:hover {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0) 0%
      ),
      url(../img/platanera.jpg);
  }
  
  .container #p4 {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0.432) 0%
      ),
      url(../img/cafetoo.jpg);
    background-size: cover;
  }
  
  #p4:hover {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0) 0%
      ),
      url(../img/cafetoo.jpg);
  }
  
  .container #p5 {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0.432) 0%
      ),
      url(../img/lirios.jpg);
    background-size: cover;
  }
  
  #p5:hover {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0) 0%
      ),
      url(../img/lirios.jpg);
  }
  .container #p6 {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0.432) 0%
      ),
      url(../img/frutales.jpg);
    background-size: cover;
  }
  
  #p6:hover {
    background-image: linear-gradient(
        90deg,
        rgba(68, 121, 9, 1) 0%,
        rgba(35, 121, 9, 0) 0%
      ),
      url(../img/frutales.jpg);
  }
  
  /* /footer/ */
  
  footer {
    display: flex;
    margin: 60px 0 0 0;
    background-color: #f6f9f5;
    justify-content: space-between;
  }
  
  .footer-nav {
    margin: auto 40px;
    color: #273f21;
  }
  
  .nav_f {
    margin-top: 10px;
    list-style: none;
  }
  
  .Footer-nav__item a {
    color: #273f21;
    text-decoration: none;
  }
  
  .Footer-nav__item a:hover {
    color: #649752;
  }
  
  .footer-obj {
    margin-top: auto auto;
    padding: 20px 20px;
    justify-content: center;
  }
  
  .footer-obj {
    margin: auto auto;
    padding: 20px 20px;
    justify-content: center;
  }
  
  .footer-obj img {
    width: 150px;
  }
  
  .footer-contacto {
    display: flex;
    margin: auto 40px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacto a {
    color: #273f21;
    text-decoration: none;
    text-decoration: none;
  }
  
  .footer-contacto img {
    width: 20px;
  }
  
  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  
  /* Footer */
  @media (max-width: 858px) {
    footer {
      align-items: center;
    }
  
  
    .footer-nav,
    .footer-obj,
    .footer-contacto {
      margin: 15px 10px;
    }
  
    .footer-nav h4,
    .footer-obj h4 {
      font-size: 15px;
    }
  
    .nav_f li {
      margin: 5px 0;
    }
  
    .footer-contacto img
     {
      width: 20px;
    }
  
  .footer-obj img{
    width: 100px;
  }
  
    .footer-contacto a,
    .Footer-nav__item a {
      font-size: 14px;
    }
  }
  