* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dee5dc;
  justify-content: center;
  align-items: center;
  color: #1d3218;
}

/* HEADER */
.logo {
  width: 130px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 15vh;
  background-color: #6c9c5b;
}
.ham {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}
.ham span {
  background-color: #f3f3f3;
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}
.enlaces-menu {
  display: flex;
  padding: 0;
}
.enlaces-menu li {
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}
.enlaces-menu li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f3f3f3;
  font-weight: 600;
}
.enlaces-menu li:nth-child(2) {
  background-color: #4b6b3f;
}
.enlaces-menu li:hover {
  background-color: #4b6b3f;
}

/* DISPOSITIVOS MOVILES */
@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    transition: 0.2s 0.1s;
  }
  .logo {
    margin-left: 25px;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .enlaces-menu li:nth-child(2) {
    background-color: #4b6b3f;
  }
  .enlaces-menu {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
  }
  .enlaces-menu li {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
}

/* Animaciones */
@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.enlaces-menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}
.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px);
}
.br-2.animado {
  opacity: 0;
}
.br-3.animado {
  transform: rotate(45deg) translate(-10px, -8px);
}
.ham.girar:hover {
  transform: rotate(360deg);
}

/* MAIN */
.contenedor {
  display: flex;
  flex-wrap: wrap;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5em 40px 0 40px;
}

.planta-container {
  flex: 1 1 30%; /* Ajusta la base y la capacidad de crecimiento */
  box-sizing: border-box;
  margin: 1em;
  justify-content: center;
  text-align: center;
  background-color: #f6f9f5;
  border-radius: 24px;
}

.planta-container img {
  border-radius: 24px 24px 0 0;
  max-width: 400px;
  width: 100%;
  object-fit: cover;
}

.planta-container a {
  text-decoration: overline;
  color: #06460f;
  font-weight: bold;
  font-size: 28px;
}

.planta-container a:hover {
  color: #4b6b3f;
}

.planta-container p {
  cursor: pointer;
  text-decoration: overline;
  color: #06460f;
  font-weight: bold;
  font-size: 28px;
}

.planta-container p:hover {
  color: #4b6b3f;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .columna {
    flex-basis: 100%; /* Cada columna ocupa el 100% del ancho en pantallas pequeñas */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .columna {
    flex-basis: 48%;
  }
}
/* fOOTER */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 0 0;
  background-color: #f6f9f5;
  justify-content: space-between;
}

.footer-nav {
  margin: auto 40px;
  color: #273f21;
}

.nav_f {
  margin-top: 10px;
  list-style: none;
}

.Footer-nav__item a {
  color: #273f21;
  text-decoration: none;
}

.Footer-nav__item a:hover {
  color: #649752;
}

.footer-obj {
  margin-top: auto auto;
  padding: 20px 20px;
  justify-content: center;
}

.footer-obj {
  margin: auto auto;
  padding: 20px 20px;
  justify-content: center;
}

.footer-obj img {
  width: 150px;
}

.footer-contacto {
  display: flex;
  margin: auto 40px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
.footer-contacto a {
  color: #273f21;
  text-decoration: none;
  text-decoration: none;
}

.footer-contacto img {
  width: 20px;
}

@media (max-width: 858px) {
  footer {
    align-items: center;
    flex-direction: column;
  }
  .footer-nav {
    margin-top: 20px;
  }
  .footer-nav,
  .footer-obj,
  .footer-contacto {
    text-align: center;
  }

  .footer-nav h4,
  .footer-obj h4 {
    font-size: 15px;
  }

  .nav_f li {
    margin: 5px 0;
  }

  .footer-contacto img {
    width: 20px;
  }

  .footer-obj img {
    width: 100px;
  }

  .footer-contacto a,
  .Footer-nav__item a {
    font-size: 14px;
  }
}