* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dee5dc;
  justify-content: center;
  align-items: center;
  color: #1d3218;
}

/* HEADER */
.logo {
  width: 130px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 15vh;
  background-color: #6c9c5b;
}
.ham {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}
.ham span {
  background-color: #f3f3f3;
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}
.enlaces-menu {
  display: flex;
  padding: 0;
}
.enlaces-menu li {
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}
.enlaces-menu li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f3f3f3;
  font-weight: 600;
}
.enlaces-menu li:nth-child(4) {
  background-color: #4b6b3f;
}
.enlaces-menu li:hover {
  background-color: #4b6b3f;
}

/* DISPOSITIVOS MOVILES */
@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    transition: 0.2s 0.1s;
  }
  .logo {
    margin-left: 25px;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .enlaces-menu li:nth-child(4) {
    background-color: #4b6b3f;
  }
  .enlaces-menu {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
  }
  .enlaces-menu li {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
}

/* Animaciones */
@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.enlaces-menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}
.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px);
}
.br-2.animado {
  opacity: 0;
}
.br-3.animado {
  transform: rotate(45deg) translate(-10px, -8px);
}
.ham.girar:hover {
  transform: rotate(360deg);
}

/* MAIN */
h2 {
  color: #2c4526;
  margin: 30px 5em;
}

.grids {
  display: flex;
  justify-content: center;
  margin: 0 40px;
}

.layout {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.layout > div {
  margin: 10px;
}

input[type="radio"] {
  display: none;
}

.opciones {
  width: 350px;
  height: 70px;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: snow;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input[type="radio"]:checked + .opciones {
  background-color: #6c9c5b;
}
.text2 {
  font-weight: bold;
  margin: 30px 2em;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
}

textarea {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button[name="soporte"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #3f5f34;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

a{
    text-decoration: none;
}

button[name="soporte"]:hover {
  background-color: #06460f;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .layout > div {
    margin: 10px 0;
  }
}

/* fOOTER */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 60px 0 0 0;
  background-color: #f6f9f5;
  justify-content: space-between;
}

.footer-nav {
  margin: auto 40px;
  color: #273f21;
}

.nav_f {
  margin-top: 10px;
  list-style: none;
}

.Footer-nav__item a {
  color: #273f21;
  text-decoration: none;
}

.Footer-nav__item a:hover {
  color: #649752;
}

.footer-obj {
  margin-top: auto auto;
  padding: 20px 20px;
  justify-content: center;
}

.footer-obj {
  margin: auto auto;
  padding: 20px 20px;
  justify-content: center;
}

.footer-obj img {
  width: 150px;
}

.footer-contacto {
  display: flex;
  margin: auto 40px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
.footer-contacto a {
  color: #273f21;
  text-decoration: none;
  text-decoration: none;
}

.footer-contacto img {
  width: 20px;
}

@media (max-width: 858px) {
  footer {
    align-items: center; 
    flex-direction: column;
  }
  .footer-nav{
    margin-top: 20px;
  }
  .footer-nav,
  .footer-obj,
  .footer-contacto {
    text-align: center;
  }

  .footer-nav h4,
  .footer-obj h4 {
    font-size: 15px;
  }

  .nav_f li {
    margin: 5px 0;
  }

  .footer-contacto img
   {
    width: 20px;
  }

.footer-obj img{
  width: 100px;
}

  .footer-contacto a,
  .Footer-nav__item a {
    font-size: 14px;
  }
}