* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  
  body {
    background-color: #dee5dc;
    justify-content: center;
    align-items: center;
    color: #1d3218;
  }
  
  .pageName {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(83, 114, 93, 0.5),
        rgba(83, 114, 93, 0.5)
      ),
      url(/img/fondoplantas.png);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    color: snow;
    font-size: 60px;
    text-align: center;
  }
  
  #check {
    display: none;
  }
  
  .navbar {
    background: #6c9c5b;
    height: 60px;
    width: 100%;
  }
  
  .navbar .ul {
    display: flex; /* Hace que ul sea un contenedor flex */
    justify-content: space-evenly; /* Espacia los elementos de manera uniforme */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Establece el ancho del ul al 100% del contenedor padre */
    margin: 0 auto;
    z-index: 10;
  }
  
  .navbar .ul li {
    line-height: 60px;
    margin: 0 10px;
  }
  
  .texta {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }
  
  .imgPerfil {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgPerfil:hover {
    background-image: url(/img/MaleUser.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .imgCarrito {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px;
  }
  
  .imgCarrito:hover {
    background-image: url(/img/Buying.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (max-width: 858px) {
    h1{
      font-size: 40px;
      }
    .texta {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    .navbar .ul {
      display: block;
      width: 100%;
      margin: 0;
      justify-content: unset;
      align-items: unset;
    }
  
    .ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #6c9c5b;
      top: 150px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    .navbar .ul li {
      display: block;
      margin: 15px 0;
      line-height: 30px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  
  .container{
      width: 1100px;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;
    }
  
  .container{
    width: 100%; /* Ajusta el contenedor al 100% del ancho del dispositivo */
    max-width: 1300px;
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    flex-wrap: wrap; / 
  }
  
  .card{
    width: 100%; /* Hace que los cards ocupen todo el ancho en dispositivos pequeños */
    max-width: 320px; /* Establece un ancho máximo para los cards */
    margin: 30px auto;
    z-index: 5;
    position: relative;
  }
  
  .container .card .face{
    width: 100%;
    height: 200px;
    transition:.4s;    
  }
  
  .container .card .face.face1{
    position: relative;
    background: white;
    display: flex;
    height: 320px;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1{
    transform: translateY(0);
  }
  
  .container .card .face.face1 .content{
    transition:  0.5s;
    text-align: center; 
  }
  .container .card .face.face1 .content img {
    max-width: 80%;
    height: auto;
    display: inline-block;
  }
  
  
  .container .card .face.face1 .content h3{
    font-size: 1.5em;
    color: #273F21;
    text-align: center;
  }
  
  .container .card .face.face2{
     position: relative;
     background: #D5E8CE;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-shadow: 0 10px 50px rgba(44, 93, 53, 0.8);
    transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  }
  
  .container .card .face.face2 .content p, a{
    font-size: 18px;
    text-align: center;
    color:#273F21;
  }
  .price{
    text-align: center;
    margin: 15px 15px;
  }
  .container .card .face.face2 .content a {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F5F34;
    text-decoration: none;
    color: snow;
    margin: 15px 0px 15px 90px ;
    border-radius: 20px;
    height: 30px; 
    width: 100px; 
  }
  
  .container .card .face.face2 .content a:hover{
    background-color: #06460F;
  }
  
  
   /* /footer/ */
   footer {
    display: flex;
    margin: 60px 0 0 0;
    background-color: #f6f9f5;
    justify-content: space-between;
  }
  
  .footer-nav {
    margin: auto 40px;
    color: #273f21;
  }
  
  .nav_f {
    margin-top: 10px;
    list-style: none;
  }
  
  .Footer-nav__item a {
    color: #273f21;
    text-decoration: none;
  }
  
  .Footer-nav__item a:hover {
    color: #649752;
  }
  
  .footer-obj {
    margin-top: auto auto;
    padding: 20px 20px;
    justify-content: center;
  }
  
  .footer-obj {
    margin: auto auto;
    padding: 20px 20px;
    justify-content: center;
  }
  
  .footer-obj img {
    width: 150px;
  }
  
  .footer-contacto {
    display: flex;
    margin: auto 40px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacto a {
    color: #273f21;
    text-decoration: none;
    text-decoration: none;
  }
  
  .footer-contacto img {
    width: 20px;
  }
  
  
  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  
  /* Footer */
  @media (max-width: 858px) {
    footer {
      align-items: center;
    }
  
  
    .footer-nav,
    .footer-obj,
    .footer-contacto {
      margin: 15px 10px;
    }
  
    .footer-nav h4,
    .footer-obj h4 {
      font-size: 15px;
    }
  
    .nav_f li {
      margin: 5px 0;
    }
  
    .footer-contacto img
     {
      width: 20px;
    }
  
  .footer-obj img{
    width: 100px;
  }
  
    .footer-contacto a,
    .Footer-nav__item a {
      font-size: 14px;
    }
  }
  