*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(/img/Fondover.png);
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
    font-family: 'Poppins',sans-serif;
    background-color: rgb(39, 63, 33, .7) ;
    padding: 10%;
}
main picture > img{
    margin: 20px;
    width: 200px;
    height: 200px;
}

main a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 20px;
    
}

main a:hover{
    color: #80a871;
}
